:root {
    --blue: #007BFF;
    --blue-hover: #0056b3;
    --light-blue: #4da6ff;
    --lighter-blue: #80bfff;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

}

body {
    font-family: Arial, sans-serif;
    padding-left: 50px;
	padding-right: 50px;
	width: 800px;
	 margin: 0 auto;
	 
}

.tag {
    font-size: 13px;
    color: var(--gray-800);
}

.project {margin-bottom: 30px}

.project h2 {
    color: var(--gray-700);
}

.project p {
    color: var(--gray-600);
}

.page-title {
    color: var(--gray-800);
    font-size: 36px;
    font-weight: bold;
   
    margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.menu {
    margin-bottom: 20px;
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 7px;
	font-size: 18px;
}

.menu a {
    margin-right: 10px;
    color: var(--gray-100);
    text-decoration: none;
    font-weight: bold;
}

.menu-separator {
    color: var(--gray-100);
    margin: 0 5px;
}


.indent {
    margin-left: 20px;
}

img {
    max-width: 200px;
    float: left;
    margin-right: 20px;
	border-radius: 10px;
}

a {
    color: var(--blue);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--blue-hover);
    text-decoration: underline;
}

.section-box {
    background-color: var(--gray-200);
    border-radius: 7px;
    padding: 2px;
	margin-bottom:10px;
	padding-left: 20px;
	padding-right: 50px;
}
